/*
    MODAL OVERLAY
*/
.modal-overlay {
  position: fixed;

  inset: 0;

  background-color: rgba(0, 0, 0, 0.7);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;

  z-index: 1000;
}

/*
    MODAL CONTAINER
*/
.modal-container {
  width: 100%;
  max-width: 500px;

  background-color: var(--card-background);

  border: 1px solid var(--border-color);

  border-radius: 16px;

  padding: 24px;
}

/*
    MODAL HEADER
*/
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 24px;
}

.modal-close-btn {
  background: transparent;

  border: none;

  color: white;

  cursor: pointer;
}

/*
    FORM
*/
.modal-form {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.modal-form input {
  background-color: #181818;

  color: white;

  border: 1px solid var(--border-color);

  padding: 14px;

  border-radius: 10px;

  outline: none;
}

.modal-form input:focus {
  border-color: var(--primary-red);
}

/*
    SUBMIT BUTTON
*/
.submit-btn {
  background-color: var(--primary-red);

  color: white;

  border: none;

  padding: 14px;

  border-radius: 10px;

  cursor: pointer;

  font-weight: 600;

  transition: 0.3s;
}

.submit-btn:hover {
  background-color: var(--primary-red-hover);
}
